body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    background: #161616;
    width: 1370px;
    height: 646px;
    border-radius: 30px;
    margin: 50px 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.text {
    margin-left: 70px;
    margin-top: 70px;
}

.img img {
    width: 600px;
    height: 600px;
    margin-top: 73px;
}

h1 {
    color: white;
    font-size: 70px;
}

.text1 {
    color: white;
    font-size: 20px;
}

.fa-angle-right {
    margin-left: 10px;
}

.link1 {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 15px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

/* middle point */
.box1 {
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 15px;

}

.box1 li {
    list-style: none;
}

.box1 a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: 450;


}

.b1 {
    padding-top: 40px;
    padding-left: 20px;
}

.l1 {
    background-color: white;
    width: 252px;
    height: 64px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

.l2 {
    background-color: white;
    width: 252px;
    height: 64px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.l3 {
    background-color: red;
    width: 252px;
    height: 64px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;

}

.small-box-1 {
    border: 1px solid black;
    width: 312px;
    height: 362px;
    border-radius: 20px;
    margin: 20px 20px;
}

.t1 {
    border: 1px solid black;
    width: 67px;
    height: 24px;

    text-align: center;
    border-radius: 5px;
}

.item {
    margin: 0 10px;
}

.small-box-2 {
    border: 1px solid black;
    width: 312px;
    height: 362px;
    border-radius: 20px;
    margin: 20px 20px;
}

.small-box-3 {
    border: 1px solid black;
    width: 312px;
    height: 362px;
    border-radius: 20px;
    margin: 20px 20px;
}

.small-box-4 {
    border: 1px solid black;
    width: 312px;
    height: 362px;
    border-radius: 20px;
    margin: 20px 20px;
}

.small-box-5 {
    border: 1px solid black;
    width: 312px;
    height: 362px;
    border-radius: 20px;
    margin: 20px 20px;
}

.small-box-6 {
    border: 1px solid black;
    width: 312px;
    height: 362px;
    border-radius: 20px;
    margin: 20px 20px;
}

.small-box-7 {
    border: 1px solid black;
    width: 312px;
    height: 362px;
    border-radius: 20px;
    margin: 20px 20px;
}

.small-box-8 {
    border: 1px solid black;
    width: 312px;
    height: 362px;
    border-radius: 20px;
    margin: 20px 20px;
}

.small-box-9 {
    border: 1px solid black;
    width: 312px;
    height: 362px;
    border-radius: 20px;
    margin: 20px 20px;
}

.box2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
    width: 500px;


}

.middle-head {
    display: flex;
    margin-left: 180px;
}